* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

.navbar {
  display: flex;
  background-color: #22577a;
  position: sticky;
  /* top: 0; */
}

/* .main-title {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 25px 26px;
} */

.maintitle {
  font-size: 35px;
  font-weight: 600;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
}
.mainTitleGoa {
  text-decoration: none;
  color: rgb(32, 27, 27);
}
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px 25px;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}
.nav-list li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.center {
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
}
.center button {
  /* padding: 10px 20px;
  font-size: 15px;
  right: 20px; */
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  color: #222;
  margin-right: 20px;
  margin-left: 400px;
  padding: 10px 15px;
  font-size: 15px;
}
.popup {
  position: absolute;
  top: -150%;
  opacity: 0;

  /* display: none; */
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup.active {
  top: 50%;
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  background: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  color: #eee;
}

.popup h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 20px 5px;
}
.popup .form .form-element {
  font-size: 15px;
  color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 2px solid #2b2e30;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form .form-element button {
  padding: 10px 15px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.popup .form .form-element a {
  text-decoration: none;
  color: #1a79ca;
  font-weight: 600;
}
.logo {
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #a7c957;
}
.logo img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
                                          sign up pop up 
*/

/* end of sign up button*/

/* .bodyback {
  background-color: rgb(19, 82, 78);
} */
.goa-img {
  width: 100%;
  height: 600px;
  filter: brightness(50%);
}

.section2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  width: 220px;
  height: 380px;
  background-color: #e9edc9;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
.box1-text-content {
  text-align: center;
  padding-top: 5px;
  height: 190px;
  padding-left: 7px;
  padding-right: 7px;
}
.h2-inbox {
  padding: 5px;
}

.box-sec2 {
  width: 220px;
  height: 350px;
  background-color: rgb(190, 197, 197);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.img1 {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 110px;
  border-radius: 50%;
  align-items: center;
}
.imgspace {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container1 {
  /* background-color: #62b6cb; */
  background-color: rgb(37, 116, 109);
  /* background-image: url("./images/Screenshot\ \(112\).png"); */
  height: 90vh;
}

.section1 {
  height: 60px;
  display: flex;
  /* font-size: 30px; */
  /* justify-content: center;
  align-items: center; */
  /* color: antiquewhite; */
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  /* padding-top: 25px; */
  /* padding-left: 25px; */
  position: relative;
  background-color: #2a9d8f;
  align-items: center;
  justify-content: center;
}

.section1 p {
  font-weight: 100;
  font-size: 40px;
  color: bisque;
  letter-spacing: 1px;
  /* line-height: 100px; */
}

.readmore {
  justify-content: center;
  display: flex;
}
.readmore a {
  text-decoration: none;
  color: grey;
}

.section3 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(37, 116, 109);
}

.beaches-in-goa {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.heading h3 {
  display: flex;
  justify-content: flex-start;
  padding: 25px 0px 0px 50px;
  align-items: center;
  font-size: 25px;
}

/* .imgclass {
  width: 160%;
  height: 180px;
  /* padding: 25px; */
/*  */

/* .imgdiv {
  width: 40%;
  height: 200px;
  /* border: 5px solid black;
  border: 10px; */
/* border: 2px solid black; */
/* border-radius: 30px;
} */
.para1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 25px;
  /* border: 2px solid black; */
  /* border-radius: 30px; */
  margin-left: 25px;
  border: 8px solid whitesmoke;
  border-radius: 10px;
}

.img-expand {
  display: flex;
  flex-direction: column;
  background-size: 80vh;
  width: 60%;
  padding-left: 30px;
}

.panel {
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  background-position: 27% 60%;
  width: 35vh;
  /* height: 35vh; */
  /* flex-shrink: 0.5; */
  flex: 20px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 20px;
  position: absolute;
  /* padding-top: 50px; */
  margin: 0;
  opacity: 0;
  top: 15px;
  left: 15px;
  color: rgb(39, 38, 38);
}

.panel.active {
  opacity: 1;
  flex: 200px;
  /* flex-wrap: wrap; */
  flex-shrink: 5;
}

.panel.active h3 {
  opacity: 1;
}
