* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  position: absolute;
  width: 100%;
}
.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.logo img {
  height: 70px;
  border-radius: 500px;
  border: 3px solid white;
}
.nav-list {
  width: 50%;
  background-color: none;
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 25px 26px;
  color: black;
}

.nav-list li a {
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-list li a:hover {
  color: darkcyan;
}

.rightnav {
  text-align: right;
  width: 50%;
  background-color: none;
  padding: 0px 40px;
  padding-top: 25px;
}

#search {
  padding-top: 3px 8px;
  font-size: 20px;
  border-radius: 10px;
}

.background {
  background: rgba(0, 0, 0, 0.7);
  background-image: url("../wada/images/coal.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.box-main {
  padding-top: 15vh;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  flex-direction: row;
  display: flex;
}

.firstHalf {
  width: 50%;
  display: flex;
  flex: 0.5;
  flex-direction: column;
}
.secondHalf {
  align-items: right;
  flex: 0.5;
  align-items: center;
  padding-left: 200px;
}
.firstSection {
  height: 100vh;
}

.secondHalf img {
  width: 400px;
  height: 250px;
  border: 3px solid white;
  border-radius: 50px;
  display: flex;
  filter: (100%);
}

.paraheading {
  text-align: center;
  font-size: 20px;
}

.bigpara {
  padding-left: 10px;
  padding-top: 10px;
}

.buttons {
  padding-left: 10px;
}
.btn {
  margin: 7px 0px;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 14px;
  border-width: 2px;
  padding: 3px 8px;
}

/* .btn1 {
  margin: 7px 0px;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 14px;
  padding: 3px 8px;
} */
